{% extends './../base.html' %}
{% load static %}

{% block title %}
<title>Paciente</title>
{% endblock %}

{% block titulo %}
  Informacion del pacientes

{% endblock %}


{% block lead %}
    Nombre:    {{ object.nombre }} <br>
    Apellido:    {{ object.apellido }} <br>
    Fecha Nacimento:    {{ object.fecha_de_nacimiento }} <br>

    <h2> Acciones </h2>
    <a href="{% url 'consultorio:lista-pacientes' %}" class="btn  btn-primary">
    Volver a la lista de Pacientes
    </a>
    <a href="{% url 'consultorio:eliminar-paciente' object.uniqueId %}" class="btn  btn-danger">
    Eliminar paciente
    </a>

    <form method="post" action="{% url 'consultorio:eliminar-paciente' object.uniqueId %}">
        {% csrf_token %}
        <input type="submit" value="Delete">
    </form>
{% endblock %}
