{% extends './base.html' %}
{% load static %}

{% block title %}
<title>Paciente</title>
{% endblock %}

{% block titulo %}
  Informacion de los pacientes

{% endblock %}


{% block lead %}

<h1>
    lista de paciente:
</h1>
{% for paciente in paciente_list %}
    <a href="{% url 'consultorio:detalle-paciente'  paciente.uniqueId %}">
        {{ paciente.nombre }} -- {{ paciente.apellido }}
    </a><br>
{% endfor %}

    <a href="{% url 'consultorio:crear-pacientes' %}" class="btn btn-lg btn-success">
    Crear Pacientes
    </a>

{% endblock %}

